# **MÓDULO 14 - Exercício**
# Pré Processamento dos Dados - A primeira etapa Pré Modelagem

Para nossa atividade usaremos uma base de churn também, porém essa base não diz respeito a serviços bancários e sim serviços de internet, telefone e tv - Telecomunicação.

Vamos realizar aqui as etapas de limpeza e tratamento de dados vistos durante a aula, porém aplicados a essa base nova.

In [5]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

In [6]:
#Lembrem-se sempre de alterar a importação dos dados de acordo com o diretório de vocês.
df = pd.read_csv("CHURN_TELECON_MOD08_TAREFA.csv", delimiter=';')

df.head(10)

,customerID,Genero,Idoso,Casado,Dependents,Tempo_como_Cliente,PhoneService,Servico_Internet,Servico_Seguranca,Suporte_Tecnico,StreamingTV,Tipo_Contrato,PaymentMethod,Pagamento_Mensal,Total_Pago,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,DSL,No,No,No,Month-to-month,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,DSL,Yes,No,No,One year,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,2,Yes,DSL,Yes,No,No,Month-to-month,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,DSL,Yes,Yes,No,One year,Bank transfer (automatic),NaN,1840.75,No
4,9237-HQITU,NaN,0,No,No,2,Yes,Fiber optic,No,No,No,Month-to-month,Electronic check,NaN,151.65,Yes
5,9305-CDSKC,NaN,0,No,No,8,Yes,Fiber optic,No,No,Yes,Month-to-month,Electronic check,NaN,820.50,NaN
6,1452-KIOVK,NaN,0,No,Yes,22,Yes,Fiber optic,No,No,Yes,Month-to-month,Credit card (automatic),NaN,1949.40,NaN
7,6713-OKOMC,NaN,0,No,No,10,No,DSL,Yes,No,No,Month-to-month,Mailed check,NaN,301.90,NaN
8,7892-POOKP,NaN,0,Yes,No,28,Yes,Fiber optic,No,Yes,Yes,Month-to-month,Electronic check,NaN,3046.05,NaN
9,6388-TABGU,NaN,0,No,Yes,62,Yes,dsl,Yes,No,No,One year,Bank transfer (automatic),NaN,3487.95,NaN

Legenda dos dados:

*   **CustomerID** : Esse é o ID único de cada cliente nosso da rede de produtos de telecomunicação.

*   **Genero** : O genero dos nossos clientes.

*   **Idoso** : Se nosso cliente tem acima de 60 anos ou não. (Sim = 1 | Não = 0)

*   **Casado** : Se nosso cliente é casado ou não.

*   **Dependents** : Se cliente tem dependentes.

*   **Tempo_como_Cliente** : Tempo em meses que nosso cliente está com a nossa empresa.

*   **PhoneService** : Se ele contratou serviço telefônico com a nossa empresa.

*   **Servico_Internet** : Qual o tipo de serviço de internet contratado.

*   **Servico_Seguranca** : Se ele contratou serviço de segurança com a nossa empresa.

*   **Suporte_Tecnico** : Se já acionou o suporte técnico.

*   **StreamingTV** : Se ele contratou serviço de streaming para TV.

*   **Tipo_Contrato** : Qual o tipo de contrato dos nossos clientes, se era mensal, anual etc.

*   **Tipo_Contrato** : Qual o tipo de contrato dos nossos clientes, se era mensal, anual etc.

*   **PaymentMethod** : Forma de Pagamento.

*   **Pagamento_Mensal** : Quanto o cliente pagava mensalmente.

*   **Total_Pago** : Total já pago pelo cliente para nossa companhia.

*   **Churn** : Nossa coluna mais importante, se nosso cliente nos abandonou ou não.

# 1 - Carregue a base, verifique se os tipos de dados estão de acordo com cada coluna e caso não estejam realize a transformação dos tipos de dados.

In [26]:
df = pd.read_csv("C:/Users/juhan/OneDrive/Área de Trabalho/dev/Ciência de dados EBAC/Modulo 14/Atividade/CHURN_TELECON_MOD08_TAREFA.csv", delimiter= ';')
df['Dependents'] = df['Dependents'].dropna()
df['Casado'] = df['Casado'].dropna()
df['PhoneService'] = df['PhoneService'].dropna()
df['Dependentes_cod'] = df['Dependents'].astype('category').cat.codes
df['Casado_cod'] = df['Casado'].astype('category').cat.codes
df['Servico_Telefonico_cod'] = df['PhoneService'].astype('category').cat.codes
df['Churn_cod'] = df['Churn'].astype('category').cat.codes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   customerID              2500 non-null   object
 1   Genero                  2488 non-null   object
 2   Idoso                   2500 non-null   int64
 3   Casado                  2500 non-null   object
 4   Dependents              2500 non-null   object
 5   Tempo_como_Cliente      2500 non-null   int64
 6   PhoneService            1018 non-null   object
 7   Servico_Internet        2500 non-null   object
 8   Servico_Seguranca       2500 non-null   object
 9   Suporte_Tecnico         2500 non-null   object
 10  StreamingTV             2500 non-null   object
 11  Tipo_Contrato           2500 non-null   object
 12  PaymentMethod           2500 non-null   object
 13  Pagamento_Mensal        2175 non-null   float64
 14  Total_Pago              2500 non-null   float64
 15  Churn                   2495 non-null   object
 16  Dependentes_cod         2500 non-null   int8
 17  Casado_cod              2500 non-null   int8
 18  Servico_Telefonico_cod  2500 non-null   int8
 19  Churn_cod               2500 non-null   int8
dtypes: float64(2), int64(2), int8(4), object(12)
memory usage: 322.4+ KB

# 2 - Esse exercício faremos por etapas:
A) Verifique se temos colunas com dados faltantes e traga a % dos dados faltantes por coluna.

In [8]:
(df.isnull().sum()/ len(df)) * 100

customerID                 0.00
Genero                     0.48
Idoso                      0.00
Casado                     0.00
Dependents                 0.00
Tempo_como_Cliente         0.00
PhoneService              59.28
Servico_Internet           0.00
Servico_Seguranca          0.00
Suporte_Tecnico            0.00
StreamingTV                0.00
Tipo_Contrato              0.00
PaymentMethod              0.00
Pagamento_Mensal          13.00
Total_Pago                 0.00
Churn                      0.20
Dependentes_cod            0.00
Casado_cod                 0.00
Servico_Telefonico_cod     0.00
Churn_cod                  0.00
dtype: float64

B) Exclua nessa etapa as linhas das colunas com dados faltantes que você analisar que esse método é o ideal. Justifique o motivo de estar excluindo essas linhas.

In [9]:
df.drop(columns=['Genero', 'customerID'], inplace=True)
#df.dropna(subset=["PhoneService", "Pagamento_Mensal"], inplace=True)

#Customer ID é um dado sensível e Genero não irá mudar objetivamente os pagamentos (existe obvio uma discrepância social entre ganhos masculinos e femininos, mas não cabe a analise aqui)

C) Nessa etapa substitua pela média, mediana ou moda as linhas das colunas com valores faltantes que você analisou e entendeu que esse era o melhor método. Não se esqueça de justificar sua escolha.

**Dica variáveis numéricas:** Não se esqueça de verificar a distrbuição dos dados, média e mediana.

**Dica variáveis categóricas:** Caso precise substituir uma variável categórica utilize um gráfico de barras para verificar a que mais aparece e utilizar ela na substituição.
Ou você pode optar por excluir a coluna, mas justifique sua escolha.

Caso opte por substituir você pode utilizar a função fillna:
df['SUACOLUNA'].fillna("VALOR QUE SUBSTITUIRA O NULO", inplace=True)
Ela funcionará como a replace.

In [12]:
Pagamento_Mensal_media = df['Pagamento_Mensal'].mean()
df['Pagamento_Mensal'] = df['Pagamento_Mensal'].fillna(Pagamento_Mensal_media)
Servico_Telefonico_cod_moda = df['Servico_Telefonico_cod'].mode()
df['Servico_Telefonico_cod'] = df['Servico_Telefonico_cod'].fillna(Servico_Telefonico_cod_moda)

df.head(10)

# O serviço telefonico e o pagamento mensal são colunas importantes que anteriormente foi verificado 13% e 59% de dados nulos, essas colunas estão diretamente ligadas a uma analise de Churn

,Idoso,Casado,Dependents,Tempo_como_Cliente,PhoneService,Servico_Internet,Servico_Seguranca,Suporte_Tecnico,StreamingTV,Tipo_Contrato,PaymentMethod,Pagamento_Mensal,Total_Pago,Churn,Dependentes_cod,Casado_cod,Servico_Telefonico_cod,Churn_cod
0,0,Yes,No,1,No,DSL,No,No,No,Month-to-month,Electronic check,29.850000,29.85,No,0,1,0,0
1,0,No,No,34,Yes,DSL,Yes,No,No,One year,Mailed check,56.950000,1889.50,No,0,0,1,0
2,0,No,No,2,Yes,DSL,Yes,No,No,Month-to-month,Mailed check,53.850000,108.15,Yes,0,0,1,1
3,0,No,No,45,No,DSL,Yes,Yes,No,One year,Bank transfer (automatic),65.607563,1840.75,No,0,0,0,0
4,0,No,No,2,Yes,Fiber optic,No,No,No,Month-to-month,Electronic check,65.607563,151.65,Yes,0,0,1,1
5,0,No,No,8,Yes,Fiber optic,No,No,Yes,Month-to-month,Electronic check,65.607563,820.50,NaN,0,0,1,-1
6,0,No,Yes,22,Yes,Fiber optic,No,No,Yes,Month-to-month,Credit card (automatic),65.607563,1949.40,NaN,1,0,1,-1
7,0,No,No,10,No,DSL,Yes,No,No,Month-to-month,Mailed check,65.607563,301.90,NaN,0,0,0,-1
8,0,Yes,No,28,Yes,Fiber optic,No,Yes,Yes,Month-to-month,Electronic check,65.607563,3046.05,NaN,0,1,1,-1
9,0,No,Yes,62,Yes,dsl,Yes,No,No,One year,Bank transfer (automatic),65.607563,3487.95,NaN,1,0,1,-1

# 3 - Verifique se encontramos valores digitados incorretamente, ou com letras maiusculas ou minusculas, ou até mesmo mesmos valores porém escritos de forma dirente e corrija.

In [21]:
#seu código aqui
df['Servico_Internet'].value_counts()
df['Metodo_Pagamento'].value_counts()
df['Tipo_Contrato'].value_counts()


colunas_categoricas = ['Servico_Internet', 'Tipo_Contrato', 'StreamingTV', 'Casado', 'Dependentes', 'Suporte_Tecnico', 'Servico_Seguranca', 'Servico_Telefonico']
for col in colunas_categoricas:
    df[col] = df[col].str.strip().str.upper()

# [EXTRA] 4 - Caso deseje, para manter um padrão na sua base, renomeie as colunas ou deixando em português, ou inglês.

In [20]:
df.rename(columns={'PaymentMethod': 'Metodo_Pagamento'}, inplace=True)
df.rename(columns={'PhoneService': 'Servico_Telefonico'}, inplace=True)
df.rename(columns={'Dependents': 'Dependentes'}, inplace=True)
df.head()

,Idoso,Casado,Dependentes,Tempo_como_Cliente,Servico_Telefonico,Servico_Internet,Servico_Seguranca,Suporte_Tecnico,StreamingTV,Tipo_Contrato,Metodo_Pagamento,Pagamento_Mensal,Total_Pago,Churn,Dependentes_cod,Casado_cod,Servico_Telefonico_cod,Churn_cod
0,0,YES,No,1,No,DSL,No,No,NO,MONTH-TO-MONTH,Electronic check,29.850000,29.85,No,0,1,0,0
1,0,NO,No,34,Yes,DSL,Yes,No,NO,ONE YEAR,Mailed check,56.950000,1889.50,No,0,0,1,0
2,0,NO,No,2,Yes,DSL,Yes,No,NO,MONTH-TO-MONTH,Mailed check,53.850000,108.15,Yes,0,0,1,1
3,0,NO,No,45,No,DSL,Yes,Yes,NO,ONE YEAR,Bank transfer (automatic),65.607563,1840.75,No,0,0,0,0
4,0,NO,No,2,Yes,FIBER OPTIC,No,No,NO,MONTH-TO-MONTH,Electronic check,65.607563,151.65,Yes,0,0,1,1